<div class="container">
    <div *ngIf="hero" class="row">
        <div class="col-8" >
            <h2>{{ hero.name | uppercase }}'s details</h2>
            <div class="description">
                <p>{{ hero.description }}</p>
            </div>
            <div>
                <label for="hero-name">Change Hero Name:</label>
                <br>
                <input id="name" [(ngModel)]="hero.name" placeholder="name">
            </div>
            <br>
            <button type="button" (click)="save()">save</button>
            <button type="button" (click)="goBack()">Back</button>
        </div>
        <div class="col-4">
            <img src="{{hero.img}}" [alt]="hero.name">

        </div>
    </div>
</div>
